 .css_animation {
-webkit-animation: cssAnimation 1.000s 5 ease;
-moz-animation:  cssAnimation 1.000s 5 ease;
-o-animation: cssAnimation 1.000s 5 ease;
}
@-webkit-keyframes cssAnimation {
from {-webkit-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
-moz-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
-o-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
 }
to {-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
}
@-moz-keyframes cssAnimation {
from {-webkit-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
-moz-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
-o-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
 }
to {-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
}
@-o-keyframes cssAnimation {
from {-webkit-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
-moz-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
-o-transform: rotate(5deg) scale(1.000) skew(10deg) translate(10px) ;
 }
to {-webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
-o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
}